<style type="text/css">
  p {
    color: white;
    font-size: 26px;
  }

  .disagree {
    color: #D9534F;
  }

  .header-background {
    background-color: rgba(#333, #333, #333, 1);
  }

  form {
    padding: 15px;
    /*margin-top: 50px;*/
  }

  .header {
    text-align: center;
    color: #f1f1f1;
  }

  h3 {
    text-align: center;
    /*color: #f1f1f1;*/
    border-bottom: solid 1px black;

    /*font-family: "Raleway";*/
  }

  .sign-up {
    background: lightgray;
    border-radius: 10px;
    margin-top: 100px;
    /*border: 3px solid black;*/
  }

  body {
  background: url('/assets/winner.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  .center {
    text-align: center;
  }
</style>

<div class='header-background center'>
  <h1 class='header'><span class='disagree'>The Fan's Challenge</span></h1>
  <p>The online home for sports fans</p>

  <!-- <h5 class='header'>Join the community</h5> -->
    <button class="btn btn-danger btn-lg center" data-toggle="modal" data-target="#myModal">
    Join The Community
    </button>
</div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title center" id="myModalLabel">Claim your challenge flag</h4>
      </div>
      <div class="modal-body">
        <%= form_tag users_url, :class => 'form-horizontal', method: 'post' do %>
    <div class="form-group">
      <%= text_field_tag "email", nil, placeholder: 'Email', :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= text_field_tag "username", nil, placeholder: 'Username', :class => 'form-control' %>
    </div>
     <div class="form-group">
      <%= password_field_tag "password", nil, placeholder: 'Password', :class => 'form-control' %>
     </div>
     <div class="form-group">
      <%= password_field_tag "password_confirmation", nil, placeholder: 'Password Confirmation', :class => 'form-control' %>
     </div>
     <div class="form-group">
      <%= submit_tag "Sign Up", :class => 'btn btn-danger btn-block' %>
     </div>
    <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
