<h1>Editing Challenge Comment Vote #<%= @challenge_comment_vote.id %></h1>


<%= form_tag(challenge_comment_vote_url(@challenge_comment_vote), method: 'patch') do %>

  <div>
    <%= label_tag :user_id %><br />
    <%= number_field_tag :user_id, @challenge_comment_vote.user_id %>
  </div>

  <div>
    <%= label_tag :challenge_comment_id %><br />
    <%= number_field_tag :challenge_comment_id, @challenge_comment_vote.challenge_comment_id %>
  </div>

  <div>
    <%= label_tag :vote %><br />
    <%= check_box_tag :vote, @challenge_comment_vote.vote? %>
  </div>

  
  <div>
    <%= submit_tag "Update Challenge Comment Vote" %>
  </div>

<% end %>
