<h1>New Challenge Comment Vote</h1>


<%= form_tag(challenge_comment_votes_url, method: 'post') do %>


  <div>
    <%= label_tag :user_id %><br />
    <%= number_field_tag :user_id %>
  </div>

  <div>
    <%= label_tag :challenge_comment_id %><br />
    <%= number_field_tag :challenge_comment_id %>
  </div>

  <div>
    <%= label_tag :vote %><br />
    <%= check_box_tag :vote? %>
  </div>


  <div>
    <%= submit_tag "Create Challenge Comment Vote" %>
  </div>
<% end %>
