<h1>Editing Comment Vote #<%= @comment_vote.id %></h1>


<%= form_tag(comment_vote_url(@comment_vote), method: 'patch') do %>

  <div>
    <%= label_tag :user_id %><br />
    <%= number_field_tag :user_id, @comment_vote.user_id %>
  </div>

  <div>
    <%= label_tag :comment_id %><br />
    <%= number_field_tag :comment_id, @comment_vote.comment_id %>
  </div>

  <div>
    <%= label_tag :vote %><br />
    <%= check_box_tag :vote, @comment_vote.vote? %>
  </div>

  
  <div>
    <%= submit_tag "Update Comment Vote" %>
  </div>

<% end %>
