<h1>New Call</h1>


<%= form_tag(calls_url, method: 'post') do %>


  <div>
    <%= label_tag :call_type %><br />
    <%= text_field_tag :call_type %>
  </div>

  <div>
    <%= label_tag :quarter %><br />
    <%= text_field_tag :quarter %>
  </div>

  <div>
    <%= label_tag :time %><br />
    <%= text_field_tag :time %>
  </div>

 <%= hidden_field_tag 'game_id', @game.id %>

  <div>
    <%= label_tag :fouled_player_id %><br />
    <%= select_tag 'fouled_player_id',  options_from_collection_for_select(@players, "id", "name") %>
  </div>

  <div>
    <%= label_tag :description %><br />
    <%= text_field_tag :description %>
  </div>

  <div>
    <%= label_tag :commit_player_id %><br />
    <%= select_tag 'commit_player_id',  options_from_collection_for_select(@players, "id", "name") %>
  </div>

  <div>
    <%= label_tag :ref_id %><br />
    <%= select_tag 'ref_id',  options_from_collection_for_select(@game.refs, "id", "name") %>
  </div>


  <div>
    <%= submit_tag "Create Call", :class => 'btn btn-danger' %>
  </div>
<% end %>
