<h1>Call #<%= @call.id %></h1>

<p>
  <b>Call type:</b>
  <%= @call.call_type %>
</p>

<p>
  <b>Quarter:</b>
  <%= @call.quarter %>
</p>

<p>
  <b>Time:</b>
  <%= @call.time %>
</p>

<p>
  <b>Game:</b>
  <%= @call.game_id %>
</p>

<p>
  <b>Description:</b>
  <%= @call.description %>
</p>

<p>
  <b>Commit player:</b>
  <%= @call.commit_player_id %>
</p>

<p>
  <b>Fouled player:</b>
  <%= @call.fouled_player_id %>
</p>

<p>
  <b>Ref:</b>
  <%= @call.ref_id %>
</p>

<p>
  <b>User:</b>
  <%= @call.user_id %>
</p>


