<h1>Editing Challenge Comment #<%= @challenge_comment.id %></h1>


<%= form_tag(challenge_comment_url(@challenge_comment), method: 'patch') do %>

  <div>
    <%= label_tag :text %><br />
    <%= text_area_tag :text, @challenge_comment.text %>
  </div>

  <div>
    <%= label_tag :challenge_id %><br />
    <%= number_field_tag :challenge_id, @challenge_comment.challenge_id %>
  </div>

  <div>
    <%= label_tag :user_id %><br />
    <%= number_field_tag :user_id, @challenge_comment.user_id %>
  </div>

  
  <div>
    <%= submit_tag "Update Challenge Comment" %>
  </div>

<% end %>
