<h1>Challenge comments</h1>

<p><%= link_to 'Add a New Challenge Comment', new_challenge_comment_url %></p>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Challenge</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @challenge_comments.each do |challenge_comment| %>
    <tr>
      <td><%= challenge_comment.text %></td>
      <td><%= challenge_comment.challenge_id %></td>
      <td><%= challenge_comment.user_id %></td>
  
      <td><%= link_to 'Show', challenge_comment_url(challenge_comment) %></td>
      <td><%= link_to 'Edit', edit_challenge_comment_url(challenge_comment) %></td>
      <td><%= link_to 'Destroy', challenge_comment_url(challenge_comment), method: 'delete', data: { confirm: "Do you really want to delete this challenge_comment?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

