  <style type="text/css">
 /* .row {
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
  }*/

  .show_comments {
    display: block;
  }

  .description {
    font-family: "Raleway"
  }

  .margin {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .away_team {
    text-align: center;
  }

  .home_team {
    text-align: center;
  }

  .vs {
    font-size: 35px;
  }

  .challenge-form {
    text-align: center;

  }

  .center {
    text-align: center;
    margin: 20px;
  }

  .opponents a {
    display: block;
  }

  .disagree:hover {
    color: #D9534F;
  }

  .disagree {
    color: #D9534F;
  }

  .comments {
    background-color: #DDE1E6;
    border-radius: 5px;
    padding: 10px;
  }

  .comment {
    margin-left: 10px;
    border-bottom: solid 1px gray;
  }

  .comment-material {
    color: black;
    margin-top: 5px;
  }

  .call .challenge {
    margin: 10px;
  }
</style>
<%= link_to "New Call", new_call_url(game_id: @game.id) %>

<% if notice.present? %>
  notice present
  <%= notice %>
<% end %>

<div class='container'>
  <div class="row">
    <div class='col-md-6 home_team'><%= image_tag(@game.home_team.img_url) %></div>
    <div class='col-md-6 away_team'><%= image_tag(@game.away_team.img_url) %></div>
  </div>

  <%= render 'challenges/form', game_id: @game.id %>

  <% @game.things.each do |thing| %>

  <% if @game.home_team.players.include?(thing.commit_player) %>
    <% @style = 'pull-left home' %>
  <% elsif @game.away_team.players.include?(thing.commit_player) %>
    <% @style = 'pull-right away' %>
  <% elsif thing.commit_player.nil? %>
    <% @style = 'center' %>
  <% end %>

    <div class= 'row'>
      <% if thing.class.to_s == 'Challenge' %>
        <div class="col-lg-12">
          <div class="col-lg-4 <%= @style %> challenge">
        </div>
      <% else %>
        <div class= 'col-md-4 <%= @style %>'>
      <% end %>
        <div class='thing_<%= thing.id %> margin'>
          <span class='description'><%= thing.description %></span>
          <!-- CALL -->
          <% if thing.class.to_s == 'Call' %>
              <% if current_user.calls.include?(thing) %>
                  <%= render 'call_votes/downvote', call: thing %>
              <% else %>
                  <%= link_to "<i class=\"fa fa-flag-o\"></i>".html_safe, call_votes_url(user_id: current_user.id, call_id: thing.id, game_id: @game.id, vote: false, format: :js), remote: true, method: 'post', :class => 'disagree', :id => "call-disagree-#{thing.id}" %>
             <% end %>

               <%= render 'call_votes/vote_counter', call: thing %>
               <!-- CHALLENGE -->
          <% elsif thing.class.to_s == 'Challenge' %>
             <% challenge_ids = current_user.challenge_votes.collect { |c| c.challenge_id } %>

             <% if challenge_ids.include?(thing.id) %>
                 <%= render 'challenge_votes/upvote', challenge: thing %>
             <% else %>

                 <%= link_to "<i class=\"fa fa-flag-o\"></i>".html_safe, challenge_votes_url(user_id: current_user.id, challenge_id: thing.id, game_id: thing.game_id, vote: true), method: 'post', remote: true, :class => 'disagree', :id => "like-challenge-#{thing.id}" %>
             <% end %>

             <%= render 'challenge_votes/vote_counter', challenge: thing %>
          <% end %>


    <%= link_to pluralize(thing.comments.count, 'Comment'), "#", :class => 'show_comments' %>

          <div class='comments'>
              <%= render 'comments/form', thing: thing %>

                <% thing.comments.reverse.each do |comment| %>
                  <%= render 'comments/comment', comment: comment %>
                <% end %>

          </div><!-- comments -->

        </div>
      </div>
    </div>
  <% end %>
  </div>
</div><!-- container -->

<%= subscribe_to "/games" %>

<script>
$(document).ready(function() {
  $(".comments").hide();
    $("a.show_comments").on("click", function() {
      console.log(this);
      var closestComment = $(this).siblings(".comments")

      closestComment.slideToggle();

      return false;
    });
  });


</script>



