  <style type="text/css">
  .side_by_side {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
  }

  .like-comment {
    display: inline;
  }

  .container {
    background: url(/assets/line-background.png) repeat-y 50%;
    margin-bottom: 150px;
  }

  .challenge-form {
    margin-bottom: 15px;
  }

  .agree, .agree:hover {
    color: green;
  }

  .show_comments {
    /*display: block;*/
  }

  .description {
    font-size: 25px;
  }

  .opponents a {
    display: block;
  }

  .disagree, .disagree:hover {
    color: #D9534F;
  }

  /*ARVIN*/

body {
  background: white;
}

  .comments {
    max-height: 500px;
    overflow: scroll;
  }

  .col-xs-6, article {
  background: white;
  padding: 20px;
  position: relative;
}

.row {
  margin: 40px;
  text-align: center;
  padding: 0 50px;
}

.center {
  border: 5px solid rgba(217, 83, 79, .6);
  /*box-shadow: 1px 1px 5px 3px #D9534F;*/


}

.left {
    border-left: solid 5px #f1f1f1;
    border-top: solid 5px #f1f1f1;
    border-bottom: solid 5px #f1f1f1;
}

.logo {
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -50px;
  padding: 20px;
  background-color: #999;
}

.right {
    border-left: solid 5px #f1f1f1;
    border-top: solid 5px #f1f1f1;
    border-bottom: solid 5px #f1f1f1;
}

.logo {
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -50px;
  padding: 20px;
  background-color: #999;
}

.center .logo {
  border-radius: 50%;
  position: absolute;
  top: -25%;
  left: 40%;
}

.call {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #55;
}

.player {
  margin-right: 6px;
  font-size: 1.5em;
}

.ref {
  font-size: 1.5em;
  display: inline-block;
}

.flag {
  font-size: 1.2em;
  display: inline;
  /*margin-right: 10px;*/
}

.comment-container {
  background: #eee;
  position: absolute;
  width: 94%;
  left: 3%;
  top: 100%;
  z-index:100;
  height: 250px;
  overflow: scroll;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
  display: none;
}

.comment-container ul {
  list-style: none;
  padding: 0;
}

.comment-container li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
</style>
<% if current_user.username == 'JimmyMow' %>
  <%= link_to "New Call", new_call_url(game_id: @game.id) %>
<% end %>
<% if notice.present? %>
  notice present
  <%= notice %>
<% end %>

    <div class="row">
    <div class='col-xs-3'><%= image_tag(@game.home_team.img_url) %> <h3><%= @game.home_team.name %></h3></div>
    <div class='col-xs-3 col-xs-offset-6'><%= image_tag(@game.away_team.img_url) %> <h3><%= @game.away_team.name %></h3></div>
    </div>

  <%= render 'challenges/form', game_id: @game.id %>

<div class='container'>
  <% @game.things.each do |thing| %>

  <% if @game.home_team.players.include?(thing.commit_player) %>
    <% @style = 'left ' %>
  <% elsif @game.away_team.players.include?(thing.commit_player) %>
    <% @style = 'right' %>
  <% elsif thing.commit_player.nil? %>
    <% @style = 'center' %>
  <% end %>

    <div class="event-container row">
      <% if thing.class.to_s == 'Challenge' %>
        <article class="col-xs-6 col-xs-offset-3 <%= @style %>">
       <% elsif @game.away_team.players.include?(thing.commit_player) %>
        <article class="col-xs-6 col-xs-offset-6 <%= @style %>">
       <% else %>
        <article class="col-xs-6 <%= @style %>">
      <% end %>

        <% if thing.class.to_s == 'Challenge' %>
          <div class='challenge_thing_<%= thing.id %> margin'>
        <% elsif thing.class.to_s == 'Call' %>
          <div class="call_thing_<%= thing.id %>">
        <% end %>
          <% if @game.home_team.players.include?(thing.commit_player) %>
          <div class="logo">
            <%= image_tag(@game.home_team.img_url, width: '50', height: '50', alt: '') %>
          </div> <!-- logo -->
          <% elsif @game.away_team.players.include?(thing.commit_player) %>
          <div class="logo">
            <%= image_tag(@game.away_team.img_url, width: '50', height: '50', alt: '') %>
          </div> <!-- logo -->
          <% end %>
          <!-- CALL -->
          <% if thing.class.to_s == 'Call' %>
          <div class="call"><%= thing.call_type %></div>
          <div class="description"><%= thing.description %></div>
          <div class="side_by_side">
              <% if current_user.calls.include?(thing) %>
                  <div class='flag'><%= render 'call_votes/downvote', call: thing %></div>
              <% else %>
                  <%= link_to "Challenge!", call_votes_url(user_id: current_user.id, call_id: thing.id, game_id: @game.id, vote: false, format: :js), remote: true, method: 'post', :class => 'disagree', :id => "call-disagree-#{thing.id}" %>
              <% end %>
               <%= render 'call_votes/vote_counter', call: thing %>

               </div>


                <div class='show_comments side_by_side'><%= link_to "<i class=\"fa fa-comment\"></i>".html_safe, "#" %> <%= render 'comments/counter', thing: thing %></div>

                <!-- CHALLENGE -->
          <% elsif thing.class.to_s == 'Challenge' %>
             <% challenge_ids = current_user.challenge_votes.collect { |c| c.challenge_id } %>

          <div class="call"><%= link_to thing.user.username, user_url(thing.user.id) %> Challenged:</div>
          <div class='description'><%= thing.description %></div>
              <div class='side_by_side'>
               <% if challenge_ids.include?(thing.id) %>
                   <%= render 'challenge_votes/upvote', challenge: thing %>
               <% else %>

                   <%= link_to "I Agree!", challenge_votes_url(user_id: current_user.id, challenge_id: thing.id, game_id: thing.game_id, vote: true), method: 'post', remote: true, :class => 'agree', :id => "like-challenge-#{thing.id}" %>
               <% end %>

               <%= render 'challenge_votes/vote_counter', challenge: thing %>
             </div>

            <div class='show_comments side_by_side'><%= link_to "<i class=\"fa fa-comment\"></i>".html_safe, "#" %> <%= render 'comments/counter', thing: thing %></div>
          <% end %>




          <section class='comments' style= "display: none">
              <%= render 'comments/form', thing: thing %>

                <% thing.comments.reverse.each do |comment| %>
                  <%= render 'comments/comment', comment: comment %>
                <% end %>

          </section><!-- comments -->


      </article><!-- call 4 -->
    </article><!-- challenge 4 -->
    </div> <!-- call or challenge -->
  <% end %>
  </div><!-- container -->

<%= subscribe_to "/games" %>

<script>
$(document).ready(function() {
  $(".comments").hide();
    $(".show_comments").on("click", function() {
      console.log(this);
      var closestComment = $(this).siblings(".comments")

      closestComment.slideToggle();

      return false;
    });
  });
</script>



