<style type="text/css">
  .logos {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
  }

  .vs, .home-logo, .away-logo {
    text-align: center;
  }

  .container {
    margin: 10px;
  }

  .center {
    text-align: center;
  }

  .event-container {
    text-align: center;
  }

  .challenge {
    border: 2px solid red;
  }

</style>

<% if current_user.username == 'JimmyMow' %>
  <%= link_to "New Call", new_call_url(game_id: @game.id) %>
<% end %>

<div class="row logos">
  <div class="small-4 columns away-logo"><%= image_tag(@game.away_team.img_url) %></div>
  <div class="small-4 columns vs">VS</div>
  <div class="small-4 columns home-logo"><%= image_tag(@game.home_team.img_url) %></div>
</div>

<%= render 'challenges/form_mobile', game_id: @game.id %>

<div class="row center">
  <%= link_to "Check for new updates", game_url(@game.id), :class => 'button secondary radius' %>
</div>

<div class="container">
  <% @game.things.each do |thing| %>
  <% if thing.class.to_s == "Challenge" %>
    <% @style = 'challenge' %>
   <% elsif @game.away_team.players.include?(thing.commit_player) %>
      <% @style = 'away-foul' %>
   <% else %>
      <% @style = 'home-foul' %>
   <% end %>

    <div class='event-container'>
      <div class="row <%= @style %>">
        <div class="small-12 columns">
          <%= thing.description %>
        </div>
      </div> <!-- row -->
    </div> <!-- event-container -->
  <% end %> <!-- thing -->
</div> <!-- container -->
