<h1>Player #<%= @player.id %></h1>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Number:</b>
  <%= @player.number %>
</p>

<p>
  <b>Img url:</b>
  <%= @player.img_url %>
</p>

<p>
  <b>Team:</b>
  <%= @player.team_id %>
</p>


