<style type="text/css">
  .challenge-form {
    text-align: center;
  }

  .margin-zero-auto {
    margin: 0 auto;
  }
</style>

<div class="container challenge-form">
  <div class="col-lg-12">
    <div class="input-group margin-zero-auto">
      <%= form_for(@challenge) do |f| %>
        <div class="input-group">
          <%= f.text_field :description, :placeholder => 'Add a challenge...', :class => 'form-control' %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :game_id, value: game_id %>
        <span class='input-group-btn'>
          <%= f.button 'Challenge!', :class => 'btn btn-danger', type: 'button' %>
        </span>
        </div>
      <% end %>
    </div><!-- /input-group -->
  </div><!-- col-lg-6 -->
</div><!-- col-lg-12 -->

