<h1>Challenge #<%= @challenge.id %></h1>

<p>
  <b>Call type:</b>
  <%= @challenge.call_type %>
</p>

<p>
  <b>Quarter:</b>
  <%= @challenge.quarter %>
</p>

<p>
  <b>Time:</b>
  <%= @challenge.time %>
</p>

<p>
  <b>Game:</b>
  <%= @challenge.game_id %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Commit player:</b>
  <%= @challenge.commit_player_id %>
</p>

<p>
  <b>Fouled player:</b>
  <%= @challenge.fouled_player_id %>
</p>

<p>
  <b>Ref:</b>
  <%= @challenge.ref_id %>
</p>

<p>
  <b>User:</b>
  <%= @challenge.user_id %>
</p>


