<!DOCTYPE html>
<html>
<head>
  <title>The Fan's Challenge</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Font Awesome -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <script type="http://code.jquery.com/jquery-2.0.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body>
  <% if current_user.present? %>
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "<i class=\"fa fa-flag\"></i> The Fan's Challenge".html_safe, games_url, :class => 'navbar-brand danger' %>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", games_url %></li>
        <li><%= link_to "Teams", teams_url %></li>
        <li><%= link_to "Stats", stats_url %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", user_url(current_user.id) %></li>
            <li><%= link_to "Settings", edit_user_url(current_user.id) %></li>
            <li><%= link_to "Feedback", contact_url %></li>
            <li class="divider"></li>
            <li><%= link_to "Log Out", sessions_url %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div>

  <% else %>

  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "<i class=\"fa fa-flag\"></i> The Fan's Challenge".html_safe, root_url, :class => 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav navbar-right">
        <div class="navbar-collapse collapse">
          <%= form_tag session_url, method: 'post', class: 'navbar-form navbar-right' do %>
            <div class='form-group'>
              <%= label_tag 'username', 'Username:', class: 'sr-only' %>
              <%= text_field_tag 'username', nil, class: 'form-control', placeholder: 'Username' %>
            </div>
            <div class='form-group'>
              <%= label_tag 'password', 'Password:', class: 'sr-only' %>
              <%= password_field_tag 'password', nil, class: 'form-control', placeholder: 'Password' %>
            </div>
              <%= submit_tag 'Sign In', class: 'btn btn-danger' %>
          <% end %>
        </div><!--/.navbar-collapse -->
      </ul>
    </div><!-- /.nav-collapse -->
  </div>

  <% end %>

  <%= yield %>

</body>
</html>
