<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>TFCV3-MOBILE</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "foundation", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "normailze", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "modernizr", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "foundation", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "mobile", "data-turbolinks-track" => true %>
</head>
<body>
  <%= yield %>
</body>
</html>
